# 虚拟环境
.venv/
venv/
env/
ENV/
env.bak/
venv.bak/

# 编译文件
__pycache__/
*.py[cod]
*$py.class
main.build
main.dist

# PyInstaller生成文件
build/
dist/
*.spec

# 日志文件
logs/
*.log
log.txt

# 操作系统文件
.DS_Store
Thumbs.db
Desktop.ini

# IDE文件
.idea/
.vscode/
*.swp
*.swo
.trae/
*~

# 测试文件
.pytest_cache/
.tox/
.coverage
htmlcov/
test/

# 临时文件
*.tmp
*.temp
*.bak
*.old
update/

# 排除venv虚拟环境文件夹
.venv

# 排除nuitka-crash-report.xml文件
nuitka-crash-report.xml

# 排除platforms文件夹
platforms/

# 排除package.txt文件
package.txt
